@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --border: 1px solid var(--green-05);
  --grey: rgb(53, 73, 94, 0.7);
  --green-03: rgb(66, 184, 131, 0.3);
  --green-05: rgb(66, 184, 131, 0.5);
  --blue-vuejs: #35495e;
}
* {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  color: var(--blue-vuejs);
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#cv {
  width: 21cm;
  display: grid;
  grid-template-columns: 6.5cm 14cm;
}

h4 {
  margin: 0.5rem 0 0 0;
  font-weight: 500;
}
.date {
  margin-bottom: 0.5rem;
  color: var(--grey);
}

ul {
  margin-left: 1rem;
}
ul li {
  list-style-type: circle;
}
p,
li,
a {
  font-weight: 300;
  line-height: 1.2;
}
input,textarea{
  border:1px solid var(--grey);
  padding:0.5rem;
  outline:none;
  border-radius: 5px;
}
textarea{
  resize: none;
}
#left-panel-cv {
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 29.68cm;
  justify-content: center;
}
.container-img{
  height:200px;
  width:200px;
}
img{
  object-fit: cover;
  height:100%;
}

.head {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  margin: 2rem 0;
}

.name {
  font-weight: 700;
  margin-bottom: 0;
  width: 5.5cm;
  display: block;
  word-wrap: break-word;
  margin-bottom: 1rem;
}
.name span {
  display: block;
  font-size: 24px;
}
.firstname {
  font-weight: 300;
}
.job {
  color: var(--green-05);
  width: 5cm;
  display: block;
  word-wrap: break-word;
    font-size: 20px;
}

h3 {
  line-height: 2.5rem;
  color: var(--green-05);
}
svg {
  width: 12px;
  height: 12px;
}
a {
  white-space: nowrap;
  position: relative;
  text-decoration: none;
}
.link {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.project {
  margin-right: 0.5rem;
}
a::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 66%;
  left: -0.1em;
  right: -0.1em;
  bottom: 0;
  color: var(--dynamic-color);
}

#right-panel-cv {
  padding: 1rem;
}

.text-profile {
  position: relative;
  display: block;
  word-wrap: break-word;
  margin-top:2.5rem;
  margin-bottom: 0.2rem;
}
.text-profile::before {
  content: "“";
  display: inline-flex;
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 24px;
  height: 1rem;
  color: var(--green-05);
  color: var(--dynamic-color); /* Variable CSS */
}
.text-profile::after {
  content: "“";
  font-size: 24px;
  position: absolute;
  bottom: -20px;
  color: var(--green-05);
    color: var(--dynamic-color); /* Variable CSS */

}
.skills {
  display: flex;
  gap: 1rem;
}
.project-link {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
}
section {
  margin-bottom: 1rem;
}
.section-title {
  margin-bottom: 1rem;
  font-size: 14px;
  border-bottom: var(--border);
}
.sub-section {
  margin-bottom: 2rem;
}
